.footer {
  height: 50px;
  background-color: #fff;
}

.footer-text {
  font-size: 14px;
  text-align: center;
  color: #5e5b5a;
}

.footer-link {
  color: inherit;
}

.footer-link:hover {
  text-decoration: underline;
}
