.nav {
  position: absolute;
  height: 100%;
  width: 300px;
  background-color: #4e4e56;
  font-family: 'Forum', cursive;
  font-size: 18px;
  animation: menu-move 0.4s ease-in-out;
}

.nav-list-item {
  list-style: none;
  transition: all 0.3s ease-in-out;
}

.nav-list-item a {
  display: block;
  padding: 25px 40px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.nav-list-item:hover a {
  color: #fac09f;
  background-color: #7f7f89;
}

@keyframes menu-move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
