#root {
  min-height: 100vh;
  background-color: #f5efeb;
}

main {
  min-height: calc(100vh - 100px);
  background-color: #fff;
}

.wrapper {
  min-width: 375px;
  margin: 0 auto;
  max-width: 1180px;
  overflow: hidden;
  padding: 15px;
}
